<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">

                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header p-0">
                    <h4>Sipariş Detay</h4>
                    <ul class="ust_menu">
                        <li routerLink="/app/orders" pTooltip="Geri Dön" tooltipPosition="left">
                            <i class="pi pi-replay"></i>
                        </li>
<!--                        <li (click)="saveRow()" pTooltip="Bilgileri Kaydet" tooltipPosition="left">-->
<!--                            <i class="pi pi-save"></i>-->
<!--                        </li>-->
                    </ul>
                </div>

                <div class="card-body">

                    <p-fieldset legend="Kullanıcı Bilgileri">

                        <div class="form-row">

                            <div class="form-group col-md-2">
                                <label>Ad</label>
                                <input type="text" [(ngModel)]="item.user.name" [disabled]="true"
                                       class="form-control form-control-sm"/>
                            </div>

                            <div class="form-group col-md-2">
                                <label>Soyad</label>
                                <input type="text" [(ngModel)]="item.user.surname" [disabled]="true"
                                       class="form-control form-control-sm"/>
                            </div>

                            <div class="form-group col-md-2">
                                <label>Kullanıcı Adı</label>
                                <input type="text" [(ngModel)]="item.user.userName" [disabled]="true"
                                       class="form-control form-control-sm"/>
                            </div>

                            <div class="form-group col-md-2">
                                <label>E-posta</label>
                                <input type="text" [(ngModel)]="item.user.emailAddress" [disabled]="true"
                                       class="form-control form-control-sm"/>
                            </div>

                            <div class="form-group col-md-2">
                                <label>Telefon</label>
                                <input type="text" [(ngModel)]="item.user.phoneNumber" [disabled]="true"
                                       class="form-control form-control-sm"/>
                            </div>

                        </div>


                    </p-fieldset>

                    <div class="mt-4">
                        <p-fieldset legend="Sipariş Bilgileri">

                            <div class="form-row">

                                <div class="form-group col-md-4">
                                    <label>Sipariş Durumu</label>
                                    <p-dropdown [options]="orderStatusList" class="p-inputtext-sm w-100"
                                                filter="true"
                                                placeholder="Seçiniz"
                                                appendTo="body"
                                                [style]="{'width':'100%'}"
                                                optionValue="id"
                                                optionLabel="name"
                                                (onChange)="saveOrderStatus()"
                                                [(ngModel)]="item.orderStatusId">
                                    </p-dropdown>
                                </div>

                                <div class="form-group col-md-8">
                                    <label>Sipariş Notu</label>
                                    <input type="text" [(ngModel)]="item.orderNote"
                                           [disabled]="true" class="form-control form-control-sm"/>
                                </div>

                                <div class="form-group col-md-2">
                                    <label>Sipariş Tarihi</label>
                                    <div style="background-color: #e9ecef"
                                         class="form-control form-control-sm">{{item.creationTime|date:'dd.MM.yyyy HH:mm'}}</div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Sipariş Tutarı</label>
                                    <div style="background-color: #e9ecef"
                                         class="form-control form-control-sm">{{item.totalPrice |currency: "TRY":"symbol"}}</div>
                                </div>


                                <div class="form-group col-md-2">
                                    <label>Adres Başlık</label>
                                    <input type="text" [(ngModel)]="item.userAddress.title"
                                           [disabled]="true" class="form-control form-control-sm"/>
                                </div>


                                <div class="form-group col-md-2">
                                    <label>İl</label>
                                    <input type="text" [(ngModel)]="item.userAddress.city.name"
                                           [disabled]="true" class="form-control form-control-sm"/>
                                </div>


                                <div class="form-group col-md-2">
                                    <label>İlçe</label>
                                    <input type="text" [(ngModel)]="item.userAddress.district.name"
                                           [disabled]="true" class="form-control form-control-sm"/>
                                </div>


                                <div class="form-group col-md-2">
                                    <label>Mahalle</label>
                                    <input type="text" [(ngModel)]="item.userAddress.neighborhood.name"
                                           [disabled]="true" class="form-control form-control-sm"/>
                                </div>


                                <div class="form-group col-md-2">
                                    <label>Cadde/Sokak</label>
                                    <input type="text" [(ngModel)]="item.userAddress.streetName"
                                           [disabled]="true" class="form-control form-control-sm"/>
                                </div>


                                <div class="form-group col-md-1">
                                    <label>No</label>
                                    <input type="text" [(ngModel)]="item.userAddress.no"
                                           [disabled]="true" class="form-control form-control-sm"/>
                                </div>


                                <div class="form-group col-md-1">
                                    <label>Kapı No</label>
                                    <input type="text" [(ngModel)]="item.userAddress.doorNumber"
                                           [disabled]="true" class="form-control form-control-sm"/>
                                </div>

                                <div class="form-group col-md-2">
                                    <label>Teslimat Telefonu</label>
                                    <input type="text" [(ngModel)]="item.userAddress.phoneNumber"
                                           [disabled]="true" class="form-control form-control-sm"/>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Adres Tarifi</label>
                                    <input type="text" [(ngModel)]="item.userAddress.addressDescription"
                                           [disabled]="true" class="form-control form-control-sm"/>
                                </div>


                            </div>


                        </p-fieldset>
                    </div>


                    <div class="mt-4">
                        <p-fieldset legend="Sipariş Edilen Ürünler">
                            <p-table #dt1 [value]="orderItemList" dataKey="id"
                                     [resizableColumns]="true" [autoLayout]="true"
                                     styleClass="p-datatable-gridlines"
                                     selectionMode="single">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th [style]="{'width':'80px'}">#</th>
                                        <th>Ürün Resmi</th>
                                        <th>Kategori</th>
                                        <th>Marka</th>
                                        <th>Ürün Adı</th>
                                        <th>Paketteki Ürün Sayısı</th>
                                        <th>Sipariş Miktarı</th>
                                        <th>Ürün Fiyatı</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{ rowIndex + 1}}</td>
                                        <td><img [src]="row.imagePath" width="50"/></td>
                                        <td>{{row.product.category.name}}</td>
                                        <td>{{row.product.manufacturer.name}}</td>
                                        <td>{{row.product.name}}</td>
                                        <td>{{row.product.unitQuantity}}</td>
                                        <td>{{row.quantity}}</td>
                                        <td>{{row.price |currency: "TRY":"symbol"}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-fieldset>
                    </div>


                </div>
                <div class="card-footer table-card-footer bg-light border-top">

                </div>
            </div>
        </div>
    </section>
</div>
