<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">

                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header p-0">
                    <h4>Kategori Detay</h4>
                    <ul class="ust_menu">
                        <li routerLink="/app/categories" pTooltip="Geri Dön" tooltipPosition="left">
                            <i class="pi pi-replay"></i>
                        </li>
                        <li (click)="saveRow()" pTooltip="Bilgileri Kaydet" tooltipPosition="left">
                            <i class="pi pi-save"></i>
                        </li>
                    </ul>
                </div>

                <div class="card-body">


                    <div class="p-grid p-fluid">

                        <div class="p-col-12 p-md-3">
                            <div class="p-field">
                                <label for="name">Kategori Adı</label>
                                <input id="name" type="text" [(ngModel)]="item.name" pInputText class="p-inputtext-sm"/>
                            </div>
                        </div>

                        <div class="p-col-12 p-md-6">
                            <div class="p-field">
                                <label for="description">Açıklama</label>
                                <input id="description" type="text" [(ngModel)]="item.description" pInputText
                                       class="p-inputtext-sm"/>
                            </div>
                        </div>

                        <div class="p-col-12 p-md-3">
                            <div class="p-field">
                                <label for="sortOrder">Sıra No</label>
                                <input id="sortOrder" type="number" [(ngModel)]="item.sortOrder" pInputText
                                       class="p-inputtext-sm"/>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-3 text-center" *ngIf="imagePath!= null">
                            <img [src]="imagePath" width="50" />
                        </div>
                        <div class="p-col-12 p-md-9">
                            <p-fileUpload name="content" customUpload="true" auto="auto"
                                          chooseLabel="Resim seçiniz"
                                          uploadLabel="Resim Yükle"
                                          cancelLabel="İptal"
                                          (uploadHandler)="fileUpload($event)">
                            </p-fileUpload>
                        </div>

                    </div>


                </div>
                <div class="card-footer table-card-footer bg-light border-top">

                </div>
            </div>
        </div>
    </section>
</div>
